.mainPage {
  max-width: 1194px;
  min-height: 578px;
}
.bg-embed-500 {
  background-color: rgb(0, 164, 129);
}
.text-embed-500 {
  color: rgb(0, 164, 129);
}
/* Dekstop screeen */
h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
.iconbox {
  width: 83px;
  height: 73px;
}
.search-button {
  min-width: 11rem;
  border-color: #00a481;
  color: #00a481;
  transition-duration: 500ms;
}
.search-button:hover {
  background-color: #55cd85;
  color: white;
}
.form-check-input {
  background-color: rgba(143, 142, 142, 0.25);
  border-color: transparent;
  width: 18px;height: 17px;
}
.form-check-input:checked {
  background-color: rgb(0, 164, 129) !important;
  border-color: rgb(0, 164, 129) !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 164, 129, 0.25) !important;
}
.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.accordion-button:focus:not(.collapsed) {
  background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  background-color: transparent !important;
}
.accordion-button::after {
  display: none !important;
}
.modal-accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2); /* Light modal background */
}
.modal-accordion {
  width: 500px;
  background-color: rgb(0, 164, 129);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.modal-accordion-header {
  width: 100%;
  border: 1px solid rgb(0, 164, 129);
  background-color: rgb(0, 164, 129) !important;
  padding: 5px;
  border-radius: 8px 8px 0 0;
}
.modal-accordion-body {
  width: 100%;
  padding: 15px;
}
.custom-header {
  background-color: #E9FAF4 ;
  border: 1px solid transparent;
}
.custom-header:hover {
  border: 2px solid #00a481 !important;
}

.card-pay{
  border: 1px solid transparent;
  color: #00a481 !important;
}

.card-pay:hover {
  border: 1px solid #00a481 !important;
  background-color: #00a481 !important;
  color: rgb(170, 14, 14) !important;
  opacity: 0.2 !important;
}

.scrollbar-left {
  overflow-y: scroll;
  height: 550px;
}
.scrollbar-left .scrollbar-content {
  padding: 1rem;
}

@media (max-width: 576px) {
  .responsive-modal .modal-dialog {
    margin: 1rem;
  }
  .options-container {
    width: 100% !important;
    padding: 0 1rem;
  }
  .fs_25 {
    font-size: 18px !important;
  }
}

.success {
  background-image: var(--gyiphy);
  background-size: cover;
  background-position: center;
  pointer-events: none;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 3;
}
