.main_wrapper{
	min-height: 550px;
	width: 1194px;
	max-width: 100%;
	margin: 0 auto;
	max-width: calc(100% - 40px);
	background: #fff;
	padding: 0 0px 24px;
	position: relative;
	z-index: 2;
	border-radius: 16px;
	box-shadow: 0px 0px 16px 0px #0D47A129;
    font-family: "Assistant", serif;
}

.mCustomScrollbar{
    margin-left: 30px;
}
.w-20{width: 20% !important};
.w-15{width: 15% !important};
.w-40{width: 40% !important};
.bor_head_cmn {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    color: #00A481;
    border-bottom: 1px solid #EAEAEA;
    padding: 16px 0;
    margin-bottom: 28px;
}

.form_mobile[type="number"] {
-moz-appearance: textfield; /* Firefox */
-webkit-appearance: none;   /* Chrome, Safari, Opera */
appearance: none;           /* Standard syntax */
}
.form_mobile[type="number"]::-webkit-outer-spin-button,
.form_mobile[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form_group{
	margin-bottom: 24px;
	margin-top: 24px;
}
.form_custom .form-label{
	font-size: 15px;
	font-weight: 600;
	line-height: 19.62px;
	margin-bottom: 3px;
	display: block;
}
.form_custom h4{
	font-size: 20px;
	font-weight: 600;
	line-height: 26.16px;
	color: #00A481;
	margin-bottom: 24px;
}
.form_custom .form-control, 

.form_custom .form-select{
	border: 1px solid #D6D6D6;
	height: 44px;
	border-radius: 5px;
	box-shadow: none;
}
.check_custom_icon{
	position: relative;
}

.form-control :focus {
    box-shadow: none !important;
    border-color: #ccc !important; 
    outline: none !important;
  }

.check_custom_icon label{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-width: 83px;
	height: 73px;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
}
.check_custom_icon input[type="checkbox"]:checked ~ label{
	border-width: 2px;
	border-color: #00A481;
	background: #E9FAF4;
}
.input_grp_cus .btn{
	border: 1px solid #D6D6D6;
	border-width: 1px 0px 1px 1px;
	height: 44px;
	border-radius: 5px;
}
.input_grp_cus .form-control{
	border-left: 0;
}
.form_custom textarea.form-control{
	width: 100%;
	height: 99px;
}

/***price range slider start***/
.price-input {
  width: 100%;
  display: flex;
  margin: 0px 0 24px;
}
.price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  -moz-appearance: textfield;
  font-size: 17px;
  text-align: -webkit-match-parent;
  font-weight: 600;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 3px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background: #00A481;
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: 0;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #00A481;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  background-image: url(../../assets/images/range_icon.svg);
  background-size: 24px 24px;
}
input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: #00A481;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  background-image: url(../../assets/images/range_icon.svg);
  background-size: 24px 24px;
}
/***price range slider end***/

.services_tags{
	list-style: none;
	padding: 0;
	margin: 0;
}
.services_tags li{
	display: inline-block;
	vertical-align: top;
	margin-left: 14px;
	margin-bottom: 20px;
}
.services_tags li span{
	font-size: 15px;
	font-weight: 400;
	line-height: 19.62px;
	background: #EBEBEB;
	border-radius: 20px;
	padding:7px 15px;
	display: block;
	min-width: 92px;
	text-align: center;
}
.btn_cmn, .btn_cmn_56, .btn_cmn_40{
	font-size: 20px;
	font-weight: 500;
	line-height: 26.16px;
	background: #00A481;
	box-shadow:0 10px 8px rgba(0,0,0,0.1);
	padding: 5px 15px;
	min-width: 146px;
	border:0;
	border-radius: 100px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	outline: none;
}

.modalbtn {
	border:0;
	border-radius: 100px;
    box-shadow:0 10px 8px rgba(0,0,0,0.1);
	padding: 5px 15px;
	min-width: 146px;
    font-size: 20px;
	font-weight: 500;
	line-height: 26.16px;
	border: 1px solid #00A481;
	background: #fff;
	color: #00A481;
    display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	outline: none;
}

.modalbtn:hover {
	background: #55CD85 !important;
	color: #fff !important;
	border-color: #55CD85 !important;
}
.btn_cmn_56{
	padding: 13px 25px;
	min-width: 214px;
}
.btn_bor{
	border: 1px solid #00A481;
	background: #fff;
	color: #00A481;
}
.btn_cmn:hover, .btn_cmn_56:hover, .btn_cmn_40:hover{
	background: #55CD85;
	color: #fff;
	border-color: #55CD85;
	
}
.btn_cmn:focus, .btn_cmn_56:focus, .btn_cmn_40:focus{
	box-shadow:0 10px 8px rgba(0,0,0,0.1);
}
.btn_bor_outline {
	width: 218;
	height: 41;
	gap: 5px;
	border-radius: 100px;
	border-width: 1px;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	border: 1px solid  #00A481;
	box-shadow: 0px 1px 3px 0px #0000001A;
}
.succ_pop_icon{
	margin-bottom: 24px;
}
.pop_head{
	margin-bottom: 49px;
	font-size: 25px;
	font-weight: 600;
	line-height: 32.7px;
}
.color_green{
	color: #00A481;
}
.popup_common .modal-body{
	padding: 0 12px 40px;
}
.popup_common .modal-header{
	padding: 12px 12px 0;
	border: 0;
	justify-content: space-between;
}
.popup_common .btn-close, .popup_common .pop_back {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    opacity: 1;
    outline: none;
    box-shadow: none;
    background-size: 18px 18px;
}
.popup_common .btn-close{
	margin-right: auto;
}
.popup_common .modal-content{
	box-shadow: 0px 8px 16px 0px #00A48154;
	border-radius: 24px;
	border: 0;
}
.popup_common .modal-dialog.width580{
	max-width: 580px;
}
.popup_common .modal-dialog.width395{
	max-width: 395px;
}
.popup_common .pop_back{
	margin: 0;
}

/**** english lang start ***/
[lang="en"] .input_grp_cus .form-control {
    border-left: 1px solid #D6D6D6;
    border-right: 0;
}
[lang="en"] .input_grp_cus .btn{
	border-width: 1px 1px 1px 0px;
}
[lang="en"] .services_tags li {
    margin-left: 0;
    margin-right: 14px;
}
.form_mobile:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

/**** scroll bar css ***/

/* ::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	padding-right: 10px;
	height: 75px;
  }

::-webkit-scrollbar-thumb {
	background: rgb(159, 156, 156);
	border-radius: 5px;
  } */

  @media (max-width: 768px) {
	.form_group{
		margin-top: 0;
		margin-bottom: 0;
	}
	.form-control,.form-select{
		margin-bottom: 14px;
	}
	.form_custom h4{
		margin-top: 24px;
	}
  }