
/**********************************************/
/*********** all customer page css start ************/
/**********************************************/
.btn_cmn_40{
	min-width: 103px;
	height: 40px;
}
.serch_cust_byname{
	width: 200px;
	margin-bottom: 32px;
}
.advance_serch_tags {
    list-style: none;
    padding: 0;
    margin: 0;
}
.advance_serch_tags li {
    margin-right: 16px;
    background: #E9FAF4;
    padding: 8px 12px;
    border-radius: 18px;
    margin-bottom: 5px;
}
.ad_search_rem{
	margin-right: 15px;
}
.table_check {
    display: flex;
    align-items: center;
}
.table_check .t_checkbox{
	margin-left: 6px;
	position: relative;
}
.table_check .t_checkbox input{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	opacity: 0;
}
.table_check .t_checkbox span{
	height: 20px;
	width: 20px;
	border: 1px solid #9A9A9A;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.table_check .t_checkbox span img{
	opacity: 0;
}
.table_check .t_checkbox input:checked ~ span{
	border-color: #00A481;
}
.table_check .t_checkbox input:checked ~ span img{
	opacity: 1;
}
.status_btn {
	font-weight: 500;
	font-size: 14px;
	min-width: 133px;
	height: 28px;
	padding: 5px 10px;
	border-radius: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn_info{
	color: #FF7A00;
	background: #FFF6CC;
}
.btn_info:hover{
	background: #FF7A00;
	color: #fff;
}
.btn_primary{
	color: #4455EA;
	background: #D8EAFF;
}
.btn_primary:hover{
	background: #4455EA;
	color: #fff;
}
.btn_danger{
	color: #D42E34;
	background: #FCE3E4;
}
.btn_danger:hover{
	background: #D42E34;
	color: #fff;
}
table.table tbody > tr > td{
	padding: 22px 11px;
	border-bottom: 1px solid #E6E6E6;
	font-size: 17px;
	font-weight: 400;
	line-height: 22.24px;
	color: #282828;
}
table.table tbody > tr > td:first-child{
	border-right: 1px solid #E6E6E6;
}
table.table tbody > tr > td:last-child{
	border-left: 1px solid #E6E6E6;
}
table.table thead th{
	border-bottom: 1px solid #E6E6E6 !important;
	padding: 14px 11px;
	font-weight: 600;
	color: #686868;
	font-size: 15px;
	line-height: 20px;
}
.group_ad_search > .btn{
	min-width: 163px;
}
.advance_serch_tags{
	flex-wrap: wrap;
}
.pop_head_bor {
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 5px;
    margin-bottom: 32px;
}
.services_tags li span{
	padding: 3px 15px;
}
#more_swallows .form_custom{
	padding-left: 36px;
	padding-right: 36px;
}
.toggle_row {
	font-size: 16px;
}
table.table.table_inr tbody > tr > td{
	border: 0;
	padding: 0 10px;
}
.table_inr td label{
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	color: #686868;
	margin-bottom: 0;
	display: block;
}
.table_inr td p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #282828;
}
.add_feature_tag{
	list-style: none;
	padding: 0;
	margin: 0;
}
.add_feature_tag li{
	display: inline-block;
	vertical-align: top;
	margin: 7px 2px 0;

}
.add_feature_tag li span{
	display: block;
	font-size: 15px;
	font-weight: 600;
	line-height: 19.62px;
	color: #00A481;
	background: #E9FAF4;
	border: 1px solid #00A481;
	min-width: 62px;
	min-height: 25px;
	padding: 1px 5px;
	text-align: center;
	border-radius: 25px;
}
.table_inr .btn_cmn {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.table_btn_grp a{
	display: inline-block;
	vertical-align: middle;
}
.table_btn_grp a:hover{
	transform: scale(1.1);
}
.toggle_row{
	display: none;
}
.tr_toggle_btn{
	cursor: pointer;
	height: 22px;
	width: 22px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s lienar;
}
.tr_toggle_btn.on{
	transform: rotate(180deg);
}
table.table tr.show_row_con td{
	border-bottom: 0;
	padding-bottom: 5px;
}
.adv_search_row:after, .adv_search_row:before{
	content: "";
	display: table;
	clear: both;
}
.adv_srch_left{
	float: right;
	margin-bottom: 25px;
}
.adv_srch_right{
	float: left;
}
/**** english lang start ***/
[lang="en"] .table_check .t_checkbox{
	margin-left: 0;
	margin-right: 6px;
}
[lang="en"] table.table tbody > tr > td:first-child {
	border-right: 0;
    border-left: 1px solid #E6E6E6;
}
[lang="en"] table.table tbody > tr > td:last-child {
	border-left: 0;
    border-right: 1px solid #E6E6E6;
}
[lang="en"] .advance_serch_tags li {
    margin-right: 0;
    margin-left: 16px;
}
[lang="en"] .adv_srch_left{
	float: left;
}
[lang="en"] .adv_srch_right{
	float: right;
}
[lang="en"] table.table.table_inr > tbody > tr > td,
[lang="en"] table.table.table_inr tbody > tr > td:first-child,
[lang="en"] table.table.table_inr tbody > tr > td:last-child{
	border: 0;
}
[lang="en"] table.table tbody > tr.toggle_row > td{
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}
/**********************************************/
/*********** all customer page css end ************/
/**********************************************/


