
.modal-header {border-bottom: none !important;}
.modal-header .btn-close {margin-right: 100% !important; margin-left: 0;}
.modal-content {box-shadow: 2px 2px 4px #00a48073 !important; border-radius: 15px; }
.modal-body {border: 0;}
.modal-footer{border-top: 0 !important; }
.btn_cmn, .btn_cmn_56, .btn_cmn_40{
	font-size: 20px;
	font-weight: 500;
	line-height: 26.16px;
	background: #00A481  !important;
	box-shadow:0 10px 8px rgba(0,0,0,0.1);
	padding: 5px 15px;
    border-color: #00A481 !important;;
	min-width: 146px;
	border-radius: 100px;
	color: #fff  !important;
	display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	outline: none;
}
.btn_cmn_56{
	padding: 13px 25px;
	min-width: 214px;
}
.btn_bor{
    border:0;
	border-radius: 100px;
    box-shadow:0 10px 8px rgba(0,0,0,0.1);
	padding: 5px 15px;
	min-width: 146px;
    font-size: 20px;
	font-weight: 500;
	line-height: 26.16px;
	border: 1px solid #00A481;
	background: #fff;
	color: #00A481;
    display: inline-flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	outline: none;
}

.btn_bor{
	padding: 13px 25px;
	min-width: 214px;
}

.btn_cmn:hover, .btn_cmn_56:hover, .btn_cmn_40:hover, .btn_bor:hover{
	background: #55CD85 !important;
	color: #fff !important;
	border-color: #55CD85 !important;
	
}
.btn_cmn:focus, .btn_cmn_56:focus, .btn_cmn_40:focus{
	box-shadow:0 10px 8px rgba(0,0,0,0.1);
}