@media (min-width: 768px) { 
    .bg-md-transparent {
      background-color: white !important;
    }
  }
  
  .transition-arrow {
    transition: transform 0.3s ease;
  }
  
  .rotate-arrow {
    transform: rotate(180deg);
  }