*{font-family: "Assistant", serif;box-sizing: border-box; padding: 0; margin: 0;}
.bg-sec-100{background-color: #fafafa;}

.hr_btn:hover, .le_btn:hover{background-color: #55CD85;color: white !important;border: 1px solid #55CD85;}
.text-end{text-align: end;}
.le_btn{
    font-size: 15px;
	font-weight: 600;
	line-height: 100%;
	border: 1px solid #00A6A4;
	background: #00A481;
    color: white !important;
    padding: 7px 5px;
	box-shadow: 0px 1px 3px 0px #0000001A;
	min-width: 139px;
	height: 37px;
	border-radius: 100px;
	margin-right: 5px;
    transition: all 0.3s ease-in-out;
}
small {font-size: 66%;}
.vrline{border: solid #00A481, }
.card_title{font-size: 45.4px; font-weight: 600; line-height: 100%; color: #00A481}
.screen-2{font-size: 15px; font-weight: 700; line-height: 100%; color: #00A481}
.screen-3{font-size: 16px; font-weight: 600; line-height: 100%; color: #00A481}
.screen-4{font-size: 20px; font-weight: 600; line-height: 40%;}
.screen-5{ font-weight: 600; line-height: 24%; color: #686868}