.nav-tabs .nav-link {
	color: #848484;
	border-bottom: 2px solid transparent;
    
	cursor: pointer;
}
.nav-tabs .nav-link.active-tab {
	color: #00A6A4 !important;
	border-bottom: 2px solid #00A6A4 !important;
}